#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:0;
  text-align: center;
}

.video-container {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.video-feed {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none; 
}

.video-feed::-webkit-scrollbar {
  display: none;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
